# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Dataset (не грузим исходники)
dataset/raw/
dataset/processed/

# Большие файлы
*.EMB
*.emb
*.bmp
*.jpg
*.png

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Archive
archive/
