# Python
**/__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.idea/workspace.xml
.idea/shelf/
.vscode/

# Logs
logs/
logs/*.txt
*.log

# Dataset (не грузим исходники)
dataset/raw/
dataset/processed/

# Большие файлы
*.EMB
*.emb
*.bmp
*.jpg
*.png

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Archive
archive/

# runtime dumps
*.bin

# datasets
dataset/

# generated csv
coordinates*.csv

# temp
\[-OtherParameters/